.button {
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #646cff;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #4338ca;
}

.button:focus-within {
  box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.5);
  outline: #374151;
}
