.PinboardItem {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f9fafb;
  overflow: hidden;
}

.PinboardCollection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem; */
}
