@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  color: #677489;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columns {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

main {
  flex-grow: 1;
}

input {
  -webkit-appearance: none;
}

aside {
  flex-shrink: 0;
  width: 360px;
  background-color: #646cff;
  color: white;
  border-radius: 8px;
}

aside p {
  color: white;
}
